<div ng-hide="attrs.id">
  <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>
</div>
<div ng-show="attrs.id">
  <div>
        <span ng-show="quantityMax">
            <select name="quantity" id="quantity" ng-model="q" ng-options=" v for v in qtyOpt"></select>
        </span>
    <button ng-class="customClass || 'button item_buy_action'" ng-click="addItemToCart(id, name, price, q, data)" ng-disabled="isDisabled">
      <i class="fa fa-cart-plus"></i>Add to cart</button>
  </div>
</div>
